.root {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.7);
  max-height: 90%;
  max-width: 90%;
}

@media (max-width: 767px) {
  .container {
    max-height: 90%;
    width: 80%;
  }
}
