.container {
  padding: 1rem;
}

.header {
  text-align: center;
}

.notes {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  padding: 12px;
  justify-content: center;
  width: 100%;
}

.editInput {
  width: 320px;
  padding: 12px;
  border-radius: 6px;
}
