.rootContainer {
  background: #f6f8fa;
  min-height: 100vh;
}

.main {
  margin-top: 64px;
  padding: 12px;
}

.notes {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

@media (max-width: 768px) {
  /* .notes {
    margin: 0 auto;
  } */
}
