.noteWrapper {
  padding: 8px;
  width: 25%;
}

.note {
  padding: 24px 24px 0 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 2px 4px 16px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  flex-direction: column;
}

.note:hover {
  box-shadow: rgba(149, 157, 165, 0.6) 2px 4px 32px;
  transform: translate(8px, -8px) rotate(-2deg);
}

.container {
  height: 240px;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  user-select: none;
  margin: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  resize: none;
  border: none;
  font-family: Lato;
  font-size: 16px;
  line-height: 22px;
  pointer-events: none;
}

.actions {
  margin-top: auto;
  padding: 6px 12px;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.note:hover .actions {
  opacity: 1;
}

.modalContainer {
  width: 600px;
}

.modalTitle {
  margin-bottom: 16px;
}

.modalActions {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.editInput {
  width: 100%;
  height: 280px;
  padding: 12px;
  border-radius: 4px;
  resize: none;
  background: #f6f8fa;
  border: 1px solid #6a61bf;
  font-family: "Lato";
  font-size: 16px;
}

.iconButton {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.iconButton:hover {
  background-color: #e3e3e3;
}

@media (max-width: 768px) {
  .noteWrapper {
    width: 33.333%;
  }
  .note {
    padding: 12px 12px 0 12px;
    width: 100%;
  }
  .note:hover {
    transform: none;
  }
  .container {
    height: 220px;
  }
  .modalContainer {
    width: 100%;
  }
  .actions {
    opacity: 1;
    padding: 6px 0;
  }
}

@media (max-width: 420px) {
  .noteWrapper {
    width: 50%;
  }
  .container {
    height: 160px;
  }
}

@media (min-width: 1280px) {
  .noteWrapper {
    width: 20%;
  }
}

@media (min-width: 1440px) {
  .noteWrapper {
    width: 16.666%;
  }
}

@media (min-width: 1900px) {
  .noteWrapper {
    width: 14.285%;
  }
}

@media (min-width: 2400px) {
  .noteWrapper {
    width: 12.5%;
  }
}
